{% extends 'core/base.html' %}

{% block title %} My Items {% endblock %} 

{% block content %} 
    <div class="custom-grid pb-8 grid grid-cols-4 gap-6 bg-zinc-300">
      <div class="col-span-1">
        <form method="get" action="{% url 'item:items' %}">
          <input name="query" class="w-full py-5 px-4 border rounded-xl" type="text" value="{{ query }}" placeholder="Find what you want">
          <button class="mt-3 py-5 px-7 text-lg bg-cyan-500 text-gray rounded-xl">Search
          </button>
        </form>
        <hr class="my-5">
        <p class="font-semibold">Categories</p>
        <ul>
          {% for category in categories %}
          <li class="py-1 px-1 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
            <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">{{ category.name }}</a>
              </li>
          {% endfor %}
        </ul>
        <hr class="my-6">
        <p class="font-semibold">Remove filters</p>

        <ul>
          <li><a href="{% url 'item:items' %}" class="mt-3 py-4 px-8 inline-block bg-red-500 text-lg rounded-xl text-white">Remove</a>
          </ul>
      </div>
      <div class="col-span-3">
        <div class="mt-6 px-6 py-12 bg-zinc-200 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">My Items </h2>
        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-zinc-500">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

      </div>
    </div>

{% endblock %}